body {
  background: rgb(247, 211, 95);
  font-family: Figtree, Arial;
}

.base-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.preview-card {
  background: white;
  width: 325px;
  height: 460px;
  padding: 25px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 7px 7px rgba(0, 0, 0, 1);
}

.preview-card-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svg {
  border-radius: 10px;
  width: 100%;
}

.preview-card-content {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.learning {
  background: rgb(247, 211, 95);
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 12px;
  border-radius: 5px;
  width: 65px;
}

.pub {
  font-weight: 500;
  font-size: 15px;
  margin-top: 0;
}

.h1 {
  font-size: 25px;
  color: rgb(247, 211, 95);
  margin-top: 0;
}

.long-text {
  color: rgb(118, 118, 118);
  font-weight: 500;
  margin-top: 0;
}

.img-nme {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-avt {
  width: 30px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.nme-avt {
  font-weight: 700;
  font-size: 15px;
  margin: 0;
  padding: 0;
}